@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand {
    font-family: "Quicksand", serif;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


/* Share style */

.display-flex {
    display: flex;
}

.btn-1 {
    width: 195px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    color: white;
    background: rgb(254, 163, 1);
    font-size: 20px;
    border-style: none;

}

.btn-2 {
    width: 195px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    color: white;
    background: rgb(17, 17, 17);
    font-size: 20px;
    border-style: none;

}

header {
    margin-left: 140px;
    margin-right: 140px;

}

/* Navbar style */
ul>li {
    list-style: none;
}

#home {
    font-size: 20px;
    text-decoration: none;
    color: rgb(254, 163, 1);
}

#about {
    font-size: 20px;
    text-decoration: none;
    color: rgb(1, 172, 253);
}

#facilities {
    font-size: 20px;
    text-decoration: none;
    color: rgb(5, 212, 223);
}

#admission {
    font-size: 20px;
    text-decoration: none;
    color: rgb(93, 88, 239);
}

.navbar {
    justify-content: space-between;
    gap: 185px;

}

.nav-icon {
    width: 200px;
    height: 60px;

    gap: 10px;
}

.nav-title {
    margin: 15px 0px;
    font-size: 28px;
}

.nav-item {
    gap: 32px;
}


/* hero-section style */

.hero {
    justify-content: space-between;
    gap: 70px;

}

.hero-content {
    margin: 122px 0px;
}

.Empowering {
    color: rgb(254, 163, 1);
}

.towards {
    color: rgb(1, 172, 253);
}

.hero-title {
    padding: 0px;
    margin: 46px 0px 0px 0px;
    font-size: 56px;
    line-height: 60px;
}

.hero-description {
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0px;
}


/* Curriculam-section style */

.curriculam {
    border-top: 3px dashed gray;
}

.cv-title {
    font-size: 46px;
    text-align: center;

}

.cv-container {
    width: 80%;
    gap: 28px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 80px auto;
   
}

.box-title {
    font-size: 24px;

}

.box-description {
    font-size: 15px;
    line-height: 25px;
    margin: 0px;
}

.box-sub-title-1 {
    font-size: 15px;
    color: rgb(100, 200, 255);
}

.box-sub-title-2 {
    font-size: 15px;
    color: rgb(240, 170, 0);
}

.box-sub-title-3 {
    font-size: 15px;
    color: rgb(135, 0, 255);
}

.cv-box-1 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 40px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.cv-box-2 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 40px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.cv-box-3 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 40px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

/* Button */
.cv-btn-container {
    justify-content: center;
    gap: 10px;
    margin: 60px auto;
}

.cv-btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-weight: 900;
    border-radius: 30px;
    background: rgb(254, 163, 1);
    color: white;
}


/* Responsible media quary */

/* small device breakpoint 576px */
@media screen and (max-width: 576px) {
/* nav and hero  */

    .nav-title,
    .nav-item,
    .btn-1 {
        display: none;
    }


    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }

    .hero-content {
        margin: 20px 0px;
        padding: 0px;
    }


    #header {
        margin: 0 auto;
    }

    /* Curriculam responsib */

    .cv-title {
        font-size: 26px;
        text-align: center;
    
    }

    .curriculam{
        width: 90vw;
        justify-content: center;
    }

    .cv-container{
        grid-template-columns: repeat(1, 1fr);
    }


}